<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="Sincco" translate="label" sortOrder="550">
			<label>Sincco Extensions</label>
		</tab>

		<section id="sincco_core" showInDefault="1" showInWebsite="1" showInStore="1" type="text" translate="label" sortOrder="100">
			<label>Core Config</label>
			<tab>Sincco</tab>
			<resource>Sincco_Core::core</resource>

			<group id="debug" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10">
				<label>Debug</label>
				<field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="path" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Log Path</label>
				</field>
			</group>

		</section>
	</system>
</config>
